streamlit
langchain
langchain-core
langchain-community
langchain-mistralai
langchain-openai
langchain-google-genai
python-dotenv
faiss-cpu
sentence-transformers
tavily-python
pypdf
yfinance
pandas
numpy